## Settings file was created by plugin Expand World v1.12
## Plugin GUID: expand_world

[1. General]

## Radius of the world in meters (excluding the edge).
# Setting type: String
# Default value: 10000
World radius = 10000

## Size of the edge area in meters (added to the radius for the total size).
# Setting type: String
# Default value: 500
World edge size = 500

## Increases the minimap size, but also significantly increases the generation time.
# Setting type: String
# Default value: 1
Minimap size = 1

## If true, enables server side only mode and clients can't have the mod installed.
# Setting type: Boolean
# Default value: false
Server only = false

## Decreases the minimap detail, but doesn't affect the generation time.
# Setting type: String
# Default value: 1
Minimap pixel size = 1

## Stretches the world to a bigger area.
# Setting type: String
# Default value: 1
Stretch world = 1

## Stretches the biomes to a bigger area.
# Setting type: String
# Default value: 1
Stretch biomes = 1

[2. Features]

## Multiplies the amount of forest.
# Setting type: String
# Default value: 1
Forest multiplier = 1

## Multiplies the altitude.
# Setting type: String
# Default value: 1
Altitude multiplier = 1

## Adds to the altitude.
# Setting type: String
# Default value: 0
Altitude delta = 0

## Multiplies the max amount of locations.
# Setting type: String
# Default value: 1
Locations = 1

# Setting type: String
# Default value: 500
Distance wiggle length = 500

# Setting type: String
# Default value: 0.01
Distance wiggle width = 0.01

## How many wiggles are per each circle.
# Setting type: String
# Default value: 20
Wiggle frequency = 20

## How many meters are the wiggles.
# Setting type: String
# Default value: 100
Wiggle width = 100

# Setting type: String
# Default value: 
Offset X = 

# Setting type: String
# Default value: 
Offset Y = 

# Setting type: String
# Default value: 
Height variation seed = 

## The chance to try starting a random event.
# Setting type: String
# Default value: 20
Random event chance = 20

## How often the random events are checked (minutes).
# Setting type: String
# Default value: 46
Random event interval = 45

[3. Water]

## Multplies the water depth.
# Setting type: String
# Default value: 1
Water depth multiplier = 1

## Enables rivers.
# Setting type: Boolean
# Default value: true
Rivers = true

## Sets the altitude of the water.
# Setting type: String
# Default value: 30
Water level = 30

## Multiplies the wave size.
# Setting type: String
# Default value: 1
Wave multiplier = 1

## Multiplier only affects the height.
# Setting type: Boolean
# Default value: true
Wave only height = true

## How often a point is checked for lakes (meters). Increase to find more smaller lakes.
# Setting type: String
# Default value: 128
Lake search interval = 128

## How deep the point must be to be considered a lake. Increase to find more shallow lakes.
# Setting type: String
# Default value: -20
Lake depth = -20

## How big area is merged to a single lake. Decrease to get more lakes.
# Setting type: String
# Default value: 800
Lake merge radius = 800

## Lakes within this distance get a river between them. Increase to place more and longer rivers.
# Setting type: String
# Default value: 2000
Lake max distance 1 = 2000

## Fallback. Lakes without a river do a longer search and place one river to a random lake. Increase to enable very long rivers without increasing the total amount that much. 
# Setting type: String
# Default value: 5000
Lake max distance 2 = 5000

## How often the river altitude is checked. Both `River max altitude` and `Lake point depth`.
# Setting type: String
# Default value: 128
River check interval = 128

## How often the river changes direction.
# Setting type: String
# Default value: 20
River curve wave length = 20

## How wide the curves are.
# Setting type: String
# Default value: 15
River curve width = 15

## The river is not valid if this terrain altitude is found between the lakes.
# Setting type: String
# Default value: 50
River max altitude = 50

## or each river, the minimum width is randomly selected between this and selected maximum width. So the average width is closer to the `River minimum width` than the `River maximum width`.
# Setting type: String
# Default value: 60
River min width = 60

## For each river, the maximum width is randomly selected between this and `River minimum width`.
# Setting type: String
# Default value: 100
River max width = 100

## Seed which determines the random river widths. By default derived from the world seed.
# Setting type: String
# Default value: 
River seed = 

## Enables streams.
# Setting type: Boolean
# Default value: true
Streams = true

## Seed which determines the stream positions. By default derived from the world seed.
# Setting type: String
# Default value: 
Stream seed = 

## How many times the code tries to place a stream. This is NOT scaled with the world radius.
# Setting type: String
# Default value: 3000
Stream max amount = 3000

## How many times the code tries to find a suitable start and end point.
# Setting type: String
# Default value: 100
Stream search iterations = 100

## Minimum terrain height for stream starts.
# Setting type: String
# Default value: -4
Stream start min altitude = -4

## Maximum terrain height for stream starts.
# Setting type: String
# Default value: 1
Stream start max altitude = 1

## Minimum terrain height for stream ends.
# Setting type: String
# Default value: 6
Stream end min altitude = 6

## Maximum terrain height for stream ends.
# Setting type: String
# Default value: 14
Stream end max altitude = 14

## For each stream, the maximum width is randomly selected between this and `Stream minimum width`.
# Setting type: String
# Default value: 20
Stream max width = 20

## For each stream, the minimum width is randomly selected between this and selected maximum width. So the average width is closer to the `Stream minimum width` than the `Stream maximum width`
# Setting type: String
# Default value: 20
Stream min width = 20

## Minimum length for streams.
# Setting type: String
# Default value: 80
Stream min length = 80

## Maximum length for streams.
# Setting type: String
# Default value: 200
Stream max length = 200

## How wide the curves are.
# Setting type: String
# Default value: 20
Stream curve wave length = 20

## How often the stream changes direction.
# Setting type: String
# Default value: 15
Stream curve width = 15

[4. Data]

## Use environment data
# Setting type: Boolean
# Default value: true
Environment data = true

## Use biome data
# Setting type: Boolean
# Default value: true
Biome data = true

## Use clutter data
# Setting type: Boolean
# Default value: true
Clutter data = true

## Use world data
# Setting type: Boolean
# Default value: true
World data = true

## Use location data
# Setting type: Boolean
# Default value: true
Location data = true

## Use vegetation data
# Setting type: Boolean
# Default value: true
Vegetation data = true

## Use event data
# Setting type: Boolean
# Default value: true
Event data = false

## Use spawn data
# Setting type: Boolean
# Default value: true
Spawn data = false

